<h1>sign in</h1>

  <%= form_for :session do |f| %>

    <%= f.email_field :email_address, placeholder: 'email address' %><br>
    <br>
    <%= f.password_field :password, placeholder: 'password' %><br>
    <br>
    <%= f.submit "sign in", class: "btn btn-large btn-primary" %>

  <% end %>

<p>new user? <%= link_to "sign up now!", signup_path %></p>
