<h1>sign up</h1>

  <%= form_for @user do |f| %>

  	<%= f.text_field :first_name, placeholder: 'first name' %><br>
    <%= f.email_field :email_address, placeholder: 'email address' %><br>
    <%= f.telephone_field :phone, placeholder: 'mobile phone (10 digits)' %><br>
    <br>
    <%= f.password_field :password, placeholder: 'password' %><br>
    <%= f.password_field :password_confirmation, placeholder: 'password again' %><br>
    <br>
    <%= f.submit "create my account", class: "btn btn-large btn-primary" %>
  
  <% end %>
