<div class="row">

    <!-- edit transaction -->

<%= form_for @transaction do |f| %>

  <div class="col-xs-12 col-lg-12">
    <!-- jQuery set to add value of 1, 2, or 3 based on clicking on button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger" id="paid">paid out</button>
      <button type="button" class="btn btn-success" id="received">received</button>
      </div>
      <%= f.hidden_field :transaction_type_id %>
    </div>
      
    <div class="col-xs-12 col-sm-offset-3 col-sm-8">    
      <br>
      <% @user_accounts.each do |account| %>
      <div class="col-xs-3 col-sm-2 acct">
        <%= image_tag(AccountType.find(account.account_type_id).icon, height: '50') %><br>
        <%= f.radio_button :account_id, value: account.id, class: "form-control" %>
      </div>
      <% end %>   
    </div>

    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
      <br>
      <%= f.date_field :transaction_date %><br>

      <br>
      <%= f.number_field :amount, step: 0.01, min: 0.01, placeholder: "amount", class: "form-control" %>

      <span id="paid-option"><!--show for outgoing only-->
      <br>
      <%= f.text_field :to_or_from, placeholder: "to", class: "form-control" %>
      </span>
      
      <span id="received-option"><!--show for incoming only-->
      <br>
      <%= f.text_field :to_or_from, placeholder: "from", class: "form-control" %>
      </span>

      <br>
      <%= f.text_field :note, placeholder: "optional note", class: "form-control" %>

      <span id="spend-options"><!--show for outgoing only-->
        <br>
        for <%= f.select :spend_category_id, @spend_categories.all.collect { |cat| [ cat.name, cat.id ] }, class: "form-control" %>
      </span>

    </div>

    <div class="col-xs-12">
      <br>
      <%= f.submit "update transaction", class: "btn btn-warning" %>
    </div>

    <% end %><!--form-->

    <div class="col-xs-12">
      <br>
      <%= button_to "delete transaction", @transaction, :method => :delete, :confirm => 'Are you sure?', class: "btn btn-danger" %></li>
    </div>

</div>
