<h1>edit transaction</h1>

<%= form_for @transaction do |f| %>

  <%= f.date_field :transaction_date %><br>
  <br>

  outgoing <%= f.radio_button(:transaction_type_id, 1) %><br>
  incoming <%= f.radio_button(:transaction_type_id, 2) %><br>
  <br>

  <% @user_accounts.each do |account| %>
    <%= image_tag(AccountType.find(account.account_type_id).icon, size: '40x40') %> <%= f.radio_button(:account_id, account.id) %><br>
  <% end %>
  <br>

  amount <%= f.number_field(:amount, step: 0.01) %><br>
  <br>

  to/from <%= f.text_field :to_or_from %><br>
  <br>

  home <%= f.radio_button(:spend_category_id, 1) %><br>
  getting around <%= f.radio_button(:spend_category_id, 2) %><br>
  food <%= f.radio_button(:spend_category_id, 3) %><br>
  phone/internet<%= f.radio_button(:spend_category_id, 4) %><br>  
  health <%= f.radio_button(:spend_category_id, 5) %><br>
  education <%= f.radio_button(:spend_category_id, 6) %><br>
  personal <%= f.radio_button(:spend_category_id, 7) %><br>
  clothing <%= f.radio_button(:spend_category_id, 8) %><br>
  fun <%= f.radio_button(:spend_category_id, 9) %><br>
  gifts <%= f.radio_button(:spend_category_id, 10) %><br>
  misc <%= f.radio_button(:spend_category_id, 11) %><br>
  <br>

  optional note <%= f.text_field :note %><br>
  <br>

  cleared <%= f.check_box :cleared, value: true %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= link_to('Delete Transaction', @transaction, :method => :delete, :confirm => 'Are you sure?') %></li>
