
<table class="table table-hover">
  <thead>
    <td>what</td>
    <td></td>
    <td></td>
    <td>when</td>
    <td>who</td>
    <td>why</td>
    <td>how much</td>
    <td>cleared?</td>
    <td>options</td>
  </thead>

  <tbody>

  <% @user_transactions.each do |transaction| %>
  <tr>
    <td id="txn-type"><%= image_tag(transaction.account.account_type.icon, size: '35x35') %></td>
    <td id="txn-type"><%= transaction.transaction_type.name %></td><!--sub image-->
    <td id="cat-type"><%= transaction.spend_category %></td><!--sub image-->
    <td id="txn-date"><%= transaction.transaction_date.to_formatted_s(:long) %></td>
    <td id="txn-desc"><%= transaction.to_or_from %></td>
    <td id="txn-note"><%= transaction.note %></td>
    <td id="txn-amt"><%= number_to_currency(transaction.amount) %></td>
    <td><button><%= link_to('edit', edit_transaction_path(transaction.id)) %></button></td>
  </tr>
  <% end %>

  </tbody>
</table>
