
<table class="table table-hover">
  <thead>
    <td>type</td>
    <td>bank balance</td>
    <td>actual balance</td>
    <td>last entry</td>
    <td>last balanced</td>
    <td>options</td>
  </thead>

  <tbody>

  <% @user_accounts.each do |account| %>
    <tr>

  <% if account.active == true %> 
      <td id="acct-type"><%= account.account_type.name %></td><!--sub image-->
      <td id="acct-bankbal">placeholder</td>
      <td id="acct-actbal">placeholder</td>
      <td id="last-update">placeholder</td>
      <td id="last-balanced">placeholder</td>
      <td>
        <button><%= link_to('view', account_path(account)) %></button>
        <button><%= link_to('edit', edit_account_path(account)) %></button>
      </td>

  <% else account.active == false %>
      <td id="acct-type-inactive"><%= account.account_type.name %></td><!--sub image-->
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button><%= link_to('view', account_path(account)) %></button>
        <button><%= link_to('edit', edit_account_path(account)) %></button>
      </td>
  <% end %>

    </tr>
  <% end %>

    <tr>
      <td id="acct-type">TOTAL</td><!--sub image-->
      <td id="acct-bankbal">placeholder total</td>
      <td id="acct-actbal">placeholder total</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>