<table class="table table-hover">
  <thead>
    <td>type</td>
    <td>bank balance</td>
    <td>actual balance</td>
    <td>last update</td>
  </thead>

  <tbody>
    <tr>
      <td id="acct-type"><%= @account.account_type.name %></td><!--sub image-->
      <td id="acct-bankbal"><%= number_to_currency(@account.actual_balance) %></td>
      <td id="acct-actbal"><%= number_to_currency(@account.bank_balance) %></td>
      <td id="last-update"><%= @account.last_txn_update %></td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <td>what</td>
    <td></td>
    <td>when</td>
    <td>who</td>
    <td>why</td>
    <td>how much</td>
    <td>cleared?</td>
    <td>options</td>
  </thead>

  <tbody>

  <% @transactions.each do |transaction| %>
  <tr>
    <td id="txn-type"><%= transaction.transaction_type.name %></td><!--sub image-->
    <td id="cat-type"><%= transaction.spend_category %></td><!--sub image-->
    <td id="txn-date"><%= transaction.transaction_date.to_formatted_s(:long) %></td>
    <td id="txn-desc"><%= transaction.to_or_from %></td>
    <td id="txn-note"><%= transaction.note %></td>
    <td id="txn-amt"><%= number_to_currency(transaction.amount) %></td>
    <td id="txn-clr"><%= form_for transaction do |f| %><%= f.check_box :cleared, value: true %><% end %></td>
    <!--add jquery to auto-submit cleared checkbox!!-->
    <td><button><%= link_to('edit', edit_transaction_path(transaction.id)) %></button></td>
  </tr>
  <% end %>

  </tbody>
</table>