<div class="row">

    <!-- summarizes information about one of the user's accounts, and details the transactions within it -->

  <div class="col-xs-4 col-sm-2 acct-update">
    <%= image_tag(@account.account_type.icon, height: '100') %>
  </div>

  <div class="col-xs-8 col-sm-10 acct-update">
    <h4><%= AccountType.find(@account.account_type_id).name %> account</h4>
    <h5>last updated on <%= @account.last_txn_update %></h5>
    <h5>current balance is <%= number_to_currency(@account.actual_balance) %></h5>
    <h5>bank balance is <%= number_to_currency(@account.bank_balance) %></h5>
  </div>

  <div class="col-xs-12">

  <table class="table table-hover detail">
    <thead>
      <td></td>
      <td></td>
      <td>when</td>
      <td>who</td>
      <td>why</td>
      <td>how much</td>
      <td>cleared?</td>
      <td></td>
    </thead>

    <tbody>

    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= image_tag transaction.transaction_type.icon, height: '35' %></td>
      <td><%= image_tag transaction.spend_category.icon, height: '35' %></td>
      <td><%= transaction.transaction_date.to_formatted_s(:long) %></td>
      <td><%= transaction.to_or_from %></td>
      <td><%= transaction.note %></td>
      <td><%= number_to_currency(transaction.amount) %></td>
      <td><%= form_for transaction do |f| %><%= f.check_box :cleared, value: true %> <%= f.submit "update" %><% end %></td>
      <td><%= button_to 'edit', edit_transaction_path(transaction.id), :method => :get, class: "btn btn-warning" %></td>
    </tr>
    <% end %>

    </tbody>
  </table>

  </div>
</div>
